.container {
    display: flex;
}

.center {
    text-align: center;
}

aside {
    flex: 1;
    border: 1px solid black;
}

main {
    flex: 2;
    border: 1px solid black;
    padding: 10px 20px;
}

.item {
    padding: 5px;
}